<div class="d-flex" id="wrapper">
  <div class="bg-dark" id="sidebar-wrapper" [ngClass]="{ enter: showSidebar }">
    <div class="d-flex align-items-center light-profile-container">
      <img *ngIf="profileImage" [src]="profileImage" class="profile-img" alt="profile image"/>
      <p class="white">{{ currentUser.username }}</p>
    </div>
    <app-sidebar-content-admin *ngIf="getCurrentRole() == 'admin'" (click)="hideSidebar()"></app-sidebar-content-admin>
    <app-sidebar-content-doctor *ngIf="getCurrentRole() == 'doctor'" (click)="hideSidebar()"></app-sidebar-content-doctor>
    <app-sidebar-content-patient *ngIf="getCurrentRole() == 'patient'" (click)="hideSidebar()"></app-sidebar-content-patient>
  </div>
</div>
<button class="btn btn-primary btn-toggle-sidebar mt-2" (click)="show()">
  <i class="fa fa-bars" [ngClass]="{ close: showSidebar }"></i>
  <i class="fa fa-close" [ngClass]="{ close: !showSidebar }"></i>
</button>
