#sidebar-wrapper {
  width: 15rem;
  position: relative;
  left: -15rem;
  margin-right: -13.75rem;
  opacity: 0;
  transition: all .25s;
  -webkit-transition: all .25s;
}

#sidebar-wrapper.enter{
  opacity: 1;
  margin-right: 1.25rem;
  left: 0;
}

.btn-toggle-sidebar {
  position: absolute;
  top: 0;
  margin-left: 1.25rem;
  width: auto;

  i.close {
    position: relative;
    display: none;
    left: 0;
    transition: all .25s;
    -webkit-transition: all 0.25s;
    opacity: 0;
  }
}

.light-profile-container {
  padding-left: 1.25rem;

  img {
    max-width: 4rem;
    margin-right: 1rem;
  }

  p {
    margin-bottom: 0rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  .white {
    color: white;
  }
}
