<div>
    <app-top-navbar [inputOptions]="sidebarOptions" (hideSidebar)="sendNavbarOptions($event)" class="w-100"></app-top-navbar>
    <app-sidebar class="float-left" [inputOptions]="navbarOptions" (hideNavbar)="sendSidebarOptions($event)"></app-sidebar>
    <router-outlet></router-outlet>
</div>
