<div class="list-group list-group-flush">
  <p class="list-group-item bg-dark">DOCTOR</p>
  <a [routerLink]="['/mainPage']" class="list-group-item list-group-item-action bg-dark">Home</a>
  <a [routerLink]="['/mainPage/profile']" class="list-group-item list-group-item-action bg-dark">Profile</a>
</div>
