<div class="prevent-horizontal-scroll">
  <div class="flex-column">
    <h3 class="mt-3 mb-5">Dati personali</h3>
    <form class="" [formGroup]="updateDataForm" (ngSubmit)="submitValue()">
        <div class="form-group">
          <label for="username">
            Username:
          </label>
          <div>
            <input id="username" type="text" class="formControl" formControlName="username" >
          </div>
        </div>
        <div class="form-group">
          <label for="mail">
            Mail:
          </label>
          <div>
            <input id="mail" type="text" class="formControl" formControlName="mail">
          </div>
        </div>
        <div class="form-group">
          <label for="password">
            Password:
          </label>
          <div>
            <input id="password" type="password" class="formControl" formControlName="password">
          </div>
        </div>
        <div class="form-group">
          <label for="confirmPassword">
            Confirm password:
          </label>
          <div>
            <input id="confirmPassword" type="password" class="formControl" formControlName="confirm">
          </div>
          <div *ngIf="updateDataForm.errors?.invalidPassword && attemptToSubmit">
            <p class="alert-text mt-2">Password confirm is not correct</p>
          </div>
        </div>
        <div class="form-group">
          <label for="profile-image">
            Profile image:
          </label>
          <div>
            <img *ngIf="profileImage" [src]="profileImage" class="profile-img" alt="current profile image">
          </div>
        </div>
        <div *ngIf="modifing" class="form-group">
          <label for="profile-img">
            Choose a new profile image:
          </label>
          <div>
            <input id="profile-img" type="file" class="formControl" formControlName="profileImg">
          </div>
        </div>
        <button *ngIf="!modifing" class="btn btn-primary" (click)="enableModifies()">Modify</button>
        <button *ngIf="modifing" class="btn btn-primary btn-large" (click)="submitValue()">Save changes</button>
        <button *ngIf="modifing" class="btn btn-primary btn-large" (click)="undoChanges()">Undo</button>
      </form>
  </div>
</div>

