<div class="d-flex flex-column align-items-end container-buttons">
  <div>
    <button class="btn btn-primary mr-1" (click)="goToLogin()">Login</button>
    <button class="btn btn-primary" (click)="goToRegistration()">Register</button>
  </div>
</div>

