<app-top-right-buttons></app-top-right-buttons>
<div class="container-form container">
  <div class="row flex-column align-items-center">
    <div class="form-container col-10 col-md-6 col-lg-4 border border-primary rounded">
      <form class="d-flex flex-column" [formGroup]="loginForm" (ngSubmit)="submitData()">
        <div class="form-group d-flex flex-column align-items-center">
          <label for="username">
            Username:
          </label>
          <div>
            <input id="username" type="text" class="formControl" formControlName="username" (keyUp)="0">
          </div>
          <app-invalid-paragraph [referredFormControlName]="username" [conditionToShow]="attemptToSubmit"></app-invalid-paragraph>
        </div>
        <div class="form-group d-flex flex-column align-items-center">
          <label for="password">
            Password:
          </label>
          <div>
            <input id="password" type="password" class="formControl" formControlName="password" (keyUp)="0">
          </div>
          <app-invalid-paragraph [referredFormControlName]="password" [conditionToShow]="attemptToSubmit"></app-invalid-paragraph>
        </div>
        <button class="btn btn-primary mx-auto" type="submit">Invia</button>
      </form>
    </div>
  </div>
</div>
