<app-top-right-buttons></app-top-right-buttons>
<div class="container-fluid">
  <h3>User registration</h3>
  <div class="mt-5">
    <form [formGroup]="registrationForm" (ngSubmit)="submitValue()">
      <div class="form-group row">
        <label for="username" class="col-sm-2">
          Username:
        </label>
        <div class="col-sm-10">
          <input id="username" type="text" class="formControl" formControlName="username">
        </div>
        <app-invalid-paragraph [referredFormControlName]="username" [conditionToShow]="attemptToSubmit"></app-invalid-paragraph>
      </div>
      <div class="form-group row">
        <label for="mail" class="col-sm-2">
          Mail:
        </label>
        <div class="col-sm-10">
          <input id="mail" type="text" class="formControl" formControlName="mail">
        </div>
        <app-invalid-paragraph [referredFormControlName]="mail" [conditionToShow]="attemptToSubmit"></app-invalid-paragraph>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2">
          Password:
        </label>
        <div class="col-sm-10">
          <input id="password" type="password" class="formControl" formControlName="password">
        </div>
        <app-invalid-paragraph [referredFormControlName]="password" [conditionToShow]="attemptToSubmit"></app-invalid-paragraph>
      </div>
      <div class="form-group row">
        <label for="confirm" class="col-sm-2">
          Confirm password:
        </label>
        <div class="col-sm-10">
          <input id="confirm" type="password" class="formControl" formControlName="confirm">
        </div>
        <app-invalid-paragraph [referredFormControlName]="confirm" [conditionToShow]="attemptToSubmit"></app-invalid-paragraph>
      </div>
      <div class="form-group row">
        <label for="profile-img" class="col-sm-2">
          Choose a profile image:
        </label>
        <div class="col-sm-10">
          <input id="profile-img" type="file" class="formControl" formControlName="profileImg">
        </div>
        <app-invalid-paragraph [referredFormControlName]="password" [conditionToShow]="attemptToSubmit"></app-invalid-paragraph>
      </div>
      <button class="btn btn-primary" type="submit">Send</button>
      <div *ngIf="registrationForm.errors?.invalidPassword && attemptToSubmit">
        <p class="alert-text mt-2">Password confirm is not correct</p>
      </div>
    </form>
  </div>
</div>
