<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <button class="navbar-toggler ml-auto" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [ngClass]="{ 'show' : navbarOpen }">
    <div class="d-flex align-items-end w-100">
      <div class="ml-auto media-column">
        <button *ngIf="rolesContain('admin')" class="btn btn-large btn-primary" [ngClass]="{ 'mt-2' : navbarOpen }"
          (click)="changeRole('admin')" [routerLink]="'/mainPage/admin-home'">
          Admin Area
        </button>
        <button *ngIf="rolesContain('doctor')" class="btn btn-large btn-primary ml-2" [ngClass]="{ 'mt-2' : navbarOpen }"
          (click)="changeRole('doctor')" [routerLink]="'/mainPage/doctor-home'">
          Doctor Area
        </button>
        <button *ngIf="rolesContain('patient')" class="btn btn-large btn-primary ml-2" [ngClass]="{ 'mt-2' : navbarOpen }"
          (click)="changeRole('patient')" [routerLink]="'/mainPage/patient-home'">
          Patient Area
        </button>
        <button class="btn btn-primary ml-2" [ngClass]="{ 'mt-2' : navbarOpen }" (click)="logout()">
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>
