/* You can add global styles to this file, and also import other style files */
@import './node_modules/bootstrap/scss/bootstrap.scss';

.btn {
  width: 6rem;
}

.btn-large {
  width: 10rem;
}

.remove-container-padding {
  padding-left: 0px;
  padding-right: 0px;
}
